In [18]:
#Dependencies
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
from splinter import Browser
import os
import time
import tweepy
from config import consumer_key, consumer_secret, access_token, access_token_secret

In [2]:
executable_path = {"executable_path":"/usr/local/bin/chromedriver"}
browser = Browser("chrome", **executable_path, headless = False)

In [3]:
url = "https://mars.nasa.gov/news/"
browser.visit(url)

In [4]:
html = browser.html
soup = BeautifulSoup(html,"html.parser")

In [5]:
news_title= soup.find("div",class_="content_title").text
news_p = soup.find("div",class_="article_teaser_body").text
print(news_title)
print(news_p)

MarCO Makes Space for Small Explorers
A pair of NASA CubeSats flying to Mars are opening a new frontier for small spacecraft.

In [6]:
url2 = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url2)

html = browser.html
soup = BeautifulSoup(html,"html.parser")

browser.click_link_by_partial_text("FULL IMAGE")
time.sleep(1)
browser.click_link_by_partial_text('more info')
time.sleep(1)

featured_image_url = soup.find("article")
featured_image_url = featured_image_url.find("a")
#featured_image_url = featured_image_url.find('main_image')
print(featured_image_url)

<a class="button fancybox" data-description="Like a drop of dew hanging on a leaf, Tethys appears to be stuck to the A and F rings from this perspective of NASA's Cassini spacecraft." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/mediumsize/PIA18284_ip.jpg" data-link="/spaceimages/details.php?id=PIA18284" data-title="Stuck on the Rings" id="full_image">
					FULL IMAGE
				  </a>

In [15]:
url2 = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url2)

html = browser.html
soup = BeautifulSoup(html,"html.parser")

browser.click_link_by_partial_text("FULL IMAGE")
time.sleep(1)
browser.click_link_by_partial_text('more info')
time.sleep(1)
browser.click_link_by_partial_href('/spaceimages/images')
featured_image_url = (str(browser.url))
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19334_hires.jpg

In [20]:
# Twitter API Keys
consumer_key = consumer_key
consumer_secret = consumer_secret
access_token = access_token
access_token_secret = access_token_secret

# Setup Tweepy API Authentication
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())

target_user = "marswxreport"
tweet = api.user_timeline(target_user , count = 1)
mars_weather=tweet[0]['text']
mars_weather

'Sol 2169 (2018-09-12), high -10C/14F, low -70C/-93F, pressure at 8.82 hPa, daylight 05:41-17:58'

In [40]:
url3 = 'https://space-facts.com/mars/'
    
mars_facts = pd.read_html(url3)
mars_facts

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [48]:
mars_df = mars_facts[0]
mars_df.columns = ['Measure','Values']
mars_df = mars_df.set_index('Measure')
mars_df.head()
mars_table =mars_df.to_html(classes='marstable')
mars_table=mars_table.replace('\n',' ')
mars_table

'<table border="1" class="dataframe marstable">   <thead>     <tr style="text-align: right;">       <th></th>       <th>Values</th>     </tr>     <tr>       <th>Measure</th>       <th></th>     </tr>   </thead>   <tbody>     <tr>       <th>Equatorial Diameter:</th>       <td>6,792 km</td>     </tr>     <tr>       <th>Polar Diameter:</th>       <td>6,752 km</td>     </tr>     <tr>       <th>Mass:</th>       <td>6.42 x 10^23 kg (10.7% Earth)</td>     </tr>     <tr>       <th>Moons:</th>       <td>2 (Phobos &amp; Deimos)</td>     </tr>     <tr>       <th>Orbit Distance:</th>       <td>227,943,824 km (1.52 AU)</td>     </tr>     <tr>       <th>Orbit Period:</th>       <td>687 days (1.9 years)</td>     </tr>     <tr>       <th>Surface Temperature:</th>       <td>-153 to 20 °C</td>     </tr>     <tr>       <th>First Record:</th>       <td>2nd millennium BC</td>     </tr>     <tr>       <th>Recorded By:</th>       <td>Egyptian astronomers</td>     </tr>   </tbody> </table>'